html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
    background-color: #fadf4b;
    margin: 0 auto;
    font-family: Raleway;
    overflow-x: hidden;
}

a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f1f1f1;
}

/* -- SCROLL BAR -- */
::-webkit-scrollbar {
    width: 10px;
  }button
  ::-webkit-scrollbar-track {
    background: #050505;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3a3a;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(98, 98, 98);
  }


  /* --MAIN -- */
#main-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 12fr 4fr;
    grid-template-areas: 
    "top top top"
    ". middle ."
    "bottom3 bottom bottom2";
    margin: 20px 20px;
    margin-bottom: 50px;
    width: 96vw;
    height: 100vh;
    overflow: none;
}

.header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    grid-area: top;
}

.logo img {
  width: 170px;
}

/* HAMBURGER MENU */

.return-top {
  background-color: #000000b2;
  color: #ffffffc0;
  height: 16px;
  padding: 10px;
  font-size: 12px;
  position: fixed;
  right: 4%;
  cursor: pointer;
  z-index: 2;
  border-radius: 10px;
}

.return-top:hover {
  transform: translateY(-3px);
  transition: 0.2s;
  color: white;

}
.social {
    color: #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    padding-left: 8px;
}

.main-content {
    grid-area: middle;
    align-self: center;
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    margin: 0;
    font-size: 30px;
}

.main-content hr {
  height: 3px;
  background-color: white;
  border: none;
}

.main-content button {
    background-color: #25220d;
    color: rgba(255, 255, 255, 0.845);
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 10px;
    font-family: Raleway;
    font-weight: 700;
    margin-top: 50px;
}

.main-content button:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}
.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: bottom;
    flex-direction: column;
    position: relative;
}

.circle2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: auto;
    width: 200px;
    height: 120px; 
    background-color: transparent;
    border-top-left-radius: 130px; 
    border-top-right-radius: 130px; 
    border: 30px solid #FFFFFF;
    border-bottom: 0;
    color: black;
}

.circle2 a {
  text-decoration: none;
  color: black;
}

.scroll {
    margin-top: 50px;
    font-size: 13px;
}

.pointer i {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.main-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: bottom2;
}

.main-social i {
    font-size: 20px;
    color: black;
    margin: 10px 20px;
}

/* MAIN BG SHAPES */

.circle1 {
    width: 100px;
    height: 100px;
    border: 20px solid #ffffff;
    position: absolute;
    top: 300px;
    left: 50px;
    border-radius: 100px;
}

.triangle {
    width: 150px;
    height: 150px;
    border: 20px solid #ffffff;
    position: absolute;
    left: 860px;
    transform: rotate(20deg);
    z-index: -1;
}
    
  /* Projects Section */
  
#projects-section {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 5% 80% 5%;
    grid-template-areas: 
    "head head head"
    "proj-media proj-img ."
    "next next next";
    margin: 20px 20px;
    width: 96vw;
    height: 100vh;
    overflow: none;
}
.project-header {
  margin-top: 30px;
  grid-area: head;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.projects-underline, .projects-slant, .projects-upperline {
  background-color: white;
  height: 5px;

}

.projects-underline {
  width: 170px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.projects-slant {
  width: 50px;
  transform: rotate(-45deg);
  position: absolute;
  top: 21px;
  left: 202px;
}

.projects-upperline {
  width: 70vw;
  position: absolute;
  left: 244px;
  top: 2px;
}

#projects-section h2 {
  margin: 0 40px;
  padding-right: 40px;
}

/* Slideshow container */

.viewbox {
  grid-area: proj-img;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -18%;
  margin-right: 20%;
 
}

.slideshow-container {
  width: 605px;
  height:350px; 
  border: 10px solid black;
}
.slideshow-container img {
  width: 100%;
  min-width: 605px;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: white;
}

/* Caption text */
.captions {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.project-name {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0px;
  border-bottom: 2px solid black;
}

.languages {
  display: flex;
  padding-top: 10px;

}
.lang-html, .lang-css, .lang-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  text-align: center; 
  margin-right: 10px;
}

.lang-responsive {
  width: 150px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.next-page {
  grid-area: next;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: auto;
}

.captions-media {
  grid-area: proj-media;
  margin-top: 50px;
  margin-left:40px;
  width: 400px;
  display: none;
}


/* CONTACT-SECTION */
#contact {
    display: grid;
    align-self: center;
    grid-template-rows: 1fr 3fr;
    margin: 20px 20px;
    margin-bottom: 0;
    width: 96vw;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.email-id {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-bottom: -200px;
}

.email-id p {
font-size: 12px;
border: 5px solid white;
margin: 10px;
padding: 15px 20px;
}

.social-contacts {
  display: flex;
  flex-direction: row;
}

.social-contacts div {
  margin: 0 20px;
  font-size: 30px;
  color: black;
}
.social-contacts div a:visited {
  color: black;
}

.social-contacts i {
  font-size: 25px;
}

/*Footer */
.collapse-form {
  display: flex;
  justify-self: center;
  align-items: flex-end;
  width: 400px;
  position: relative;
  z-index: 2;
  overflow: hidden;

}

#footer{
  background-color: black;
  color:white;
  width:100%;
  height: 500px; 
    -webkit-transition: height 1s, visibility 1s;
    transition: height 1s, visibility 1s;
  position: absolute;
}
#footerbuttondown{
	color: black;
  font-size: 20px;
  width:35px;
  margin: 0 auto;
  text-align: center;
	position: relative;
  top:-20px;
  border-radius:5px;
  border-radius:5px;
  cursor: pointer;
}

#footerbuttonup{
	color: black;
  font-size: 20px;
  width:35px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
	position: relative;
  top:-60px;
  border-radius:5px;
  border-radius:5px;
  visibility:hidden;
  cursor: pointer;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
#footercont {
  position: absolute;
  top: 0px;
  opacity: 1;
  transition: opacity 1s, visibility 2s, display 2s;
}
#centerbutton{
	align:center;
  width:100%;
  content-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-left: 25px;

}

.form-field h2 {
  padding: 30px 0;
  margin: 0;
  color: #fadf4b;

}
.form-field label {
  padding-bottom: 50px;
}

.form-field input, textarea {
  background-color: transparent;
  color: #80808086;
  border: 2px solid white;
  margin: 20px 0px;
  margin-top: 10px;q
  padding: 5px 0px;
  width: 330px;
  height: 30px;
  font-family: Helvetica;
}

.form-field input:focus, .form-field input:valid {
 color: white;
 text-decoration: none;
 outline: 0;
}

textarea {
 height: 120px;
 text-align: left;
 resize: none;
}

.form-field textarea:focus, .form-field textarea:valid {
  color: white;
  text-decoration: none;
  outline: 0;
 }
.form-field button {
  border: 2px solid #fadf4b;
  background-color: transparent;
  color: #fadf4b;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes bounceup {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(20px);
  }
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1024px){
    
  /* MAIN-SECTION */
    .circle1 {
      display: none;
    }
    .triangle {
      display: none;
    }

    .box3 {
      margin-top: -50px;
    }

    .circle2 {
    width: 170px;
    height: 90px; 
    background-color: transparent;
    border-top-left-radius: 120px; 
    border-top-right-radius: 120px; 
    }

    .box4 {
      margin-top: -150px;
    }
 
    /* PROJECTS */
    .captions-media {
      display: unset;

    }

    .languages {
      margin-bottom: 20px;
    }

  
    .lang-html, .lang-css, .lang-responsive {
      height: 15px;
      font-size: 8px;
    }
    .viewbox {
     display: none;
   }
   .next-page {
     margin-left: 50%;
     margin-right: 50%;
  }

  }
  @media (max-width: 480px){

  #main-section, #projects-section, #contact-section {
    margin: 10px;
  }
  .projects-upperline {
    width: 40vw;
  }
  }

 
    
   